// Typography
@import './typography/fonts.scss';
// Pages
@import "./pages/app.scss";
@import "./pages/main.scss";
@import "./pages/inner.scss";
@import "./pages/favorite.scss";
// Layouts
@import "./layouts/header.scss";

@function get-vw-1920($font){
  $vw-context: 1920 * 0.01 * 1px;
  @return $font / $vw-context * 1vw;
  @return $font;
}
@function get-vw-1440($font){
    $vw-context: 1440 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-1320($font){
    $vw-context: 1320 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-1200($font){
    $vw-context: 1200 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-1024($font){
    $vw-context: 1024 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-768($font){
    $vw-context: 768 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-600($font){
    $vw-context: 600 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-480($font){
    $vw-context: 480 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-360($font){
    $vw-context: 360 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@mixin styling($width,$function) {
    @media screen and ( max-width: $width ) {
        @include App($function);
        @include Header($function);
        @include Main($function);
        @include Inner($function);
        @include Favorite($function);
    }
}

@include styling(9999px, 'get-vw-1920');
@include styling(1920px, 'get-vw-1920');
@include styling(1440px, 'get-vw-1440');
@include styling(1024px, 'get-vw-1024');
@include styling(768px, 'get-vw-768');
@include styling(480px, 'get-vw-480');
@include styling(360px, 'get-vw-360');
