<template>
  <div class="Gallery" :style="index == 1 ? 'flex-direction: column-reverse;' : ''">
    <GalleryItems v-for="i in photos" :key="i.id" :i="i" :width="String(i.width).split('').slice(0, 3).join('')" :height="String(i.height).split('').slice(0, 3).join('')" />
  </div>
</template>

<script>
import axios from 'axios';
import GalleryItems from '@/components/mainPageComponents/GalleryItems'
export default {
  components: {
    GalleryItems
  },
  props: ['photos', 'index'],
}
</script>