<template>
  <div class="Gallery__items" >
      <img class="Gallery__items__img" :src="i.urls.regular" :alt="i.alt_description" />
      <div class="Gallery__items__info">
        <img class="Gallery__items__info__img" :src="i.user.profile_image.medium" alt="">
        <h3>{{i.user.name}}</h3>
        <a :href="i.user.links.self">@{{i.user.instagram_username}}</a>
        <ul class="Gallery__items__info__icons">
          <li><a href="javascript:void(0);" @click="addFavorite(i.id)"><img src="@/assets/img/favorite_icon.svg" alt=""></a></li>
          <li class="Gallery__items__info__icons__maxmin"><router-link :to="{ name: 'InnerPage', params: { id: i.id } }"><img src="@/assets/img/maxmin.svg" alt=""></router-link></li>
          <li><a :href="i.links.download" ><img src="@/assets/img/download.svg" alt="" /></a></li>
        </ul>
      </div>
    </div>
</template>

<script>
export default {
  methods: {
    addFavorite(id) {
      let favorite = JSON.parse(localStorage.getItem('favorite'));
      if (favorite == null) {
        localStorage.setItem('favorite', JSON.stringify([id]))
      } else if (favorite == []){
        favorite.push(id)
        localStorage.setItem('favorite', JSON.stringify(favorite))
      } else if (favorite.find(item => item == id)){
        favorite.forEach((item, index) => {
          if (item == id) {
            favorite.splice(index, 1)
          }
        })
        localStorage.setItem('favorite', JSON.stringify(favorite))
      } else {
        favorite.push(id)
        localStorage.setItem('favorite', JSON.stringify(favorite))
      }
    }
  },
  props: ['i']
}
</script>