@font-face{
  font-family: 'SF UI Display';
  src: url('~@/assets/fonts/SFUIDisplay-Regular.ttf');
}

@font-face{
  font-family: 'SF UI Display Bold';
  src: url('~@/assets/fonts/SFUIDisplay-Bold.ttf');
}