<template>
  <div class="container_wrapper">
    <div class="Favorite_title">
      <h3>Избранное</h3>
    </div>
    <GridNav />
    <div class="favorite_items">
      <GalleryItems style="flex: 1 1 30%;" v-for="(i, index) in photos" :key="index" :i="i" />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import GridNav from '@/components/GridNav'
import GalleryItems from '@/components/mainPageComponents/GalleryItems'
export default {
  data() {
    return {
      photos: []
    }
  },
  mounted() {
    let favorite = JSON.parse(localStorage.getItem('favorite'))
    favorite.forEach(item => {
      axios({
      method: 'get',
      url: `https://api.unsplash.com/photos/${item}`,
      headers: {
        'Accept-Version': 'v1',
        Authorization: 'Client-ID BZLY_lLo4dzfQYdP6NVG8aPU5SnJiy8jW5fZVrLDXGY',
      }
      }).then(res => this.photos.push(res.data))
    })
  },
  components: {
    GalleryItems,
    GridNav
  }
}
</script>