<template>
<div>
  <div class="inner_head" :style="`background-image: url(${innerData.urls.full}`+ ')' ">
    <div class="container_wrapper inner_content_wrap">
      <div class="inner_content_head">
        <div class="inner_content_head__left">
          <img class="inner_content_head__left_img" :src="innerData.user.profile_image.medium" alt="">
          <div class="inner_content_head__left_text">
            <h3>{{innerData.user.name}}</h3>
            <a :href="innerData.user.links.self">@{{innerData.user.instagram_username}}</a>
          </div>
        </div>
        <div class="inner_content_head__right">
          <button class="inner_content_head__right__favorite">
            <img src="@/assets/img/favorite_inner.svg" alt="">
          </button>
          <button class="inner_content_head__right__download">
            <img src="@/assets/img/download.svg" alt="">
            <span>Downloand</span>
          </button>
        </div>
      </div>
      <div class="inner_content" :style="`background-image: url(${innerData.urls.regular}`+ ')' ">
      </div>
      <div class="inner_content_footer">
        <h3 class="inner_content_footer__title">Похожии теги</h3>
        <ul class="inner_content_footer__list">
          <li v-for="(li, index) in innerData.tags" :key="index"><a href="">{{li.title}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container_wrapper">
    <div class="inner_gallery__title">
      <h3>Похожие фотографии</h3>
      <a href="">show more</a>
    </div>
    <div class="errorTitle" v-if="errorMsg">
      {{errorMsg}}
    </div>
    <div v-else class="Gallery_row">
      <Gallery v-for="(i, index) in 3" :key="index" :index="index" :photos="photos" />
    </div>
  </div>
</div>
  
</template>

<script>
import axios from 'axios'
import Gallery from '@/components/mainPageComponents/Gallery'
export default {
  data() {
    return {
      innerData: '',
      photos: '',
      firstTag: '',
      errorMsg: ''
    }
  },
  components: {
    Gallery
  },
  watch: {
    '$route.params.id': async function() {
      await this.innerFetchData()
      await this.relatedPhotos()
    }
  },
  methods: {
    async innerFetchData() {
      await axios({
        method: 'get',
        url: `https://api.unsplash.com/photos/${this.$route.params.id}`,
        headers: {
          'Accept-Version': 'v1',
          Authorization: 'Client-ID BZLY_lLo4dzfQYdP6NVG8aPU5SnJiy8jW5fZVrLDXGY',
        }
      }).then(res => {
        this.innerData = res.data
        this.firstTag = this.innerData.tags[0].title;
      })
    },
    async relatedPhotos() {
      await axios({
        method: 'get',
        url: `https://api.unsplash.com/topics/${this.firstTag}/photos`,
        headers: {
          'Accept-Version': 'v1',
          Authorization: 'Client-ID BZLY_lLo4dzfQYdP6NVG8aPU5SnJiy8jW5fZVrLDXGY',
        }
      }).then(res => {
        this.photos = res.data
      }).catch(e => {
        this.errorMsg = e.response.data.errors[0]
      })
    }
  },
  async mounted() {
    await this.innerFetchData()
    await this.relatedPhotos()
  }
}
</script>