<template>
<div>
  <HeaderSearch @searchPhotosEvent="searchPhotosEvent" />
  <div class="container_wrapper">
    <GridNav />
    <div class="Gallery_row">
      <Gallery v-for="(i, index) in 3" :key="index" :index="index" :photos="photos" />
    </div>
  </div>
</div>
  
</template>

<script>
import axios from 'axios'
import GridNav from '@/components/GridNav'
import Gallery from '@/components/mainPageComponents/Gallery'
import HeaderSearch from '@/components/HeaderSearch'

export default {
  data() {
    return {
      photos: ''
    }
  },
  methods: {
    searchPhotosEvent(value) {
      axios({
        method: 'get',
        url: 'https://api.unsplash.com/search/photos',
        params: {
          query: value
        },
        headers: {
          'Accept-Version': 'v1',
          Authorization: 'Client-ID BZLY_lLo4dzfQYdP6NVG8aPU5SnJiy8jW5fZVrLDXGY',
        }
      }).then(res => this.photos = res.data.results )
    }
  },
  components: {
    GridNav,
    Gallery,
    HeaderSearch
  },
  mounted() {
    axios({
      method: 'get',
      url: 'https://api.unsplash.com/photos',
      headers: {
        'Accept-Version': 'v1',
        Authorization: 'Client-ID BZLY_lLo4dzfQYdP6NVG8aPU5SnJiy8jW5fZVrLDXGY',
      }
    }).then(res => this.photos = res.data )
  }
}
</script>

<style>

</style>