@mixin Header($function) {
  header {
    height: call(get-function($function), 81px);
    max-width: call(get-function($function), 1480px);
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    .header_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      background: #000000;
    }
    .logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      span {
        font-family: 'SF UI Display Bold';
        color: #ffffff;
        padding-left: call(get-function($function), 25px);
        font-size: call(get-function($function), 24px);
        line-height: call(get-function($function), 29px);
        color: #FFFFFF;
      }
    }
    .nav {
      display: flex;
      a {
        display: flex;
        text-decoration: none;
        align-items: center;
        padding-left: call(get-function($function), 25px);
        &:hover {
          position: relative;
          span {
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 20%;
              background: #fff;
              height: call(get-function($function), 3px);
              transition: .2s width;
            }
          }
        }
        span {
          font-size: call(get-function($function), 18px);
          line-height: call(get-function($function), 21px);
          padding-left: call(get-function($function), 10px);
          color: #FFFFFF;
          &::after {
            content: '';
            width: 0%;
          }
        }
      }
    }
  }
  .nav__search {
    opacity: 1;
  }
  .HeaderSearch {
    background: #000;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: call(get-function($function), 65px);
    padding-bottom: call(get-function($function), 45px);
      &::after {
        content: '';
        position: absolute;
        bottom: call(get-function($function), 35px);
        left: 0; 
        right: 0;
        bottom: 0;
        top: 41%;
        margin-left: auto; 
        margin-right: auto; 
        height: 1px;
        background-image: url('~@/assets/img/Line.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: call(get-function($function), 1200px);
      }
    input {
      background: none;
      border: none;
      min-height: call(get-function($function), 90px);
      padding-top: call(get-function($function), 40px);
      font-size: call(get-function($function), 24px);
      line-height: call(get-function($function), 86px);
      font-weight: 100;
      margin: 0 auto;
      width: 15%;
      color: #FFFFFF;
      &::placeholder {
        font-size: call(get-function($function), 72px);
        line-height: call(get-function($function), 86px);
        font-weight: 100;
        color: #FFFFFF;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, #000000 100%),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-decoration: none;
      list-style-type: none;
      padding-bottom: call(get-function($function), 90px);
      padding-top: call(get-function($function), 30px);
      li {
        a {
          color: transparent;
        }
      }
    }
  }
  @media screen and (max-width: 1440px) {
   
  }
  @media screen and (max-width: 1200px) {
    .HeaderSearch input {
      width: 26%;
    }
    .HeaderSearch::after {
      display: none;
    }
    header {
      max-width: get-vw-1200(1200px);
    }
  }
  @media screen and (max-width: 1024px) {
    header {
      max-width: get-vw-1024(900px);
    }
    header .logo span, header .nav a span {
      display: none;
    }
    .HeaderSearch ul {
      padding-bottom: 0px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .HeaderSearch ul li a {
      padding-right: get-vw-1024(20px);
      padding-left: get-vw-1024(20px);
    }
  }
  @media screen and (max-width: 768px) {
    header {
      max-width: get-vw-768(650px);
    }
    .HeaderSearch input {
      width: 34%;
    }
  }
  @media screen and (max-width: 600px) {
    header {
      max-width: get-vw-600(500px);
    }
    .HeaderSearch ul {
      padding-top: 0px;
    }
    .hidden_media {
      display: none;
    }
  }
  @media screen and (max-width: 480px) {
    header {
      max-width: get-vw-480(430px);
    }
    .HeaderSearch input {
      width: 50%;
    }
  }
  @media screen and (max-width: 360px) {
    header {
      max-width: get-vw-360(310px);
    }
    .HeaderSearch input {
      width: 70%;
    }
  }
}