@mixin App($function) {
  .container_wrapper {
    padding-left: call(get-function($function), 220px);
    padding-right: call(get-function($function), 220px);
  }
  .errorTitle {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: call(get-function($function), 40px);
  }

  @media screen and (max-width: 1440px) {
 
  }
  @media screen and (max-width: 1200px) {
    .container_wrapper {
      padding-left: get-vw-1200(150px);
      padding-right: get-vw-1200(120px);
    }
  }
  @media screen and (max-width: 1024px) {
    .container_wrapper {
      padding-left: get-vw-1024(75px);
      padding-right: get-vw-1024(75px);
    }
  }
  @media screen and (max-width: 768px) {
    .container_wrapper {
      padding-left: get-vw-768(75px);
      padding-right: get-vw-768(75px);
    }
  }
  @media screen and (max-width: 600px) {
    .container_wrapper {
      padding-left: get-vw-600(50px);
      padding-right: get-vw-600(50px);
    }
  }
  @media screen and (max-width: 480px) {
    .container_wrapper {
      padding-left: get-vw-480(25px);
      padding-right: get-vw-480(25px);
    }
  }
  @media screen and (max-width: 360px) {
    .container_wrapper {
      padding-left: get-vw-360(25px);
      padding-right: get-vw-360(25px);
    }
  }
}

