@mixin Favorite($function) {
  .Favorite_title {
    display: flex;
    justify-content: center;
    padding-top: call(get-function($function), 110px);
    h3 {
      font-size: call(get-function($function), 50px);
      line-height: call(get-function($function), 86px) ;
      color: #000000;
    }
  }
  .favorite_items {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1440px) {
    
  }
  @media screen and (max-width: 1200px) {
    
  }
  @media screen and (max-width: 1024px) {
    
  }
  @media screen and (max-width: 768px) {
    
  }
  @media screen and (max-width: 600px) {
    .favorite_items {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 480px) {
    
  }
  @media screen and (max-width: 360px) {
    
  }
}