@mixin Inner($function) {
  .inner_head {
    min-height: call(get-function($function), 1070px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: call(get-function($function), 80px);
    &::before {
      background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
      backdrop-filter: blur(8px); // This be the blur
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
    }
  }
  .inner_gallery__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: call(get-function($function), 50px);
    h3 {
      font-size:  call(get-function($function), 36px);
      line-height: call(get-function($function), 43px);
      color: #000000;
    }
    a {
      font-size: call(get-function($function), 14px);
      line-height: call(get-function($function), 17px);
      text-decoration-line: underline;
      color: #828282;
      margin-right: call(get-function($function), 25px);
    }
  }
  .inner_content {
    width: call(get-function($function), 1450px);
    height: call(get-function($function), 744px);
    box-shadow: 0px call(get-function($function), 4px) call(get-function($function), 100px) #000000;
    border-radius: call(get-function($function), 8px);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &_head {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: call(get-function($function), 50px);
      padding-bottom: call(get-function($function), 50px);
      &__left {
        display: flex;
        &_img {
          width: call(get-function($function), 55px);
          height: call(get-function($function), 55px);
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: call(get-function($function), 8px);
        }
        &_text {
          padding-left: call(get-function($function), 10px);
          h3 {
            margin: 0;
            font-size: call(get-function($function), 30px);
            line-height: call(get-function($function), 36px);
            color: #fff;
          }
          a {
            font-size: call(get-function($function), 20px);
            text-decoration: none;
            color: #fff;
          }
        }
      }
      &__right {
        display: flex;
        align-items: center;
        &__favorite {
          background: #FFFFFF;
          box-shadow: 0px 0px call(get-function($function), 4px) rgba(0, 0, 0, 0.25);
          border-radius: call(get-function($function), 8px);
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: call(get-function($function), 10px);
          padding: call(get-function($function), 13px);
          img {
            width: call(get-function($function), 25px);
            height: call(get-function($function), 25px);
          }
        }
        &__download {
          background: #219653;
          border: 1px solid #219653;
          box-sizing: border-box;
          padding: call(get-function($function), 13px) call(get-function($function), 28px);
          box-shadow: 0px 0px call(get-function($function), 4px) rgba(0, 0, 0, 0.25);
          border-radius: call(get-function($function), 8px);
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            font-size: call(get-function($function), 20px);
            line-height: call(get-function($function), 24px);
            color: #F2F2F2;
            padding-left: call(get-function($function), 20px);
          }
          img {
            width: call(get-function($function), 25px);
            height: call(get-function($function), 25px);
          }
        }
      }
    }
    &_footer {
      display: flex;
      position: relative;
      width: 100%;
      align-items: center;
      padding-top: call(get-function($function), 40px);
      flex-direction: column;
      padding-bottom: call(get-function($function), 60px);
      &__title {
        font-size: call(get-function($function), 24px);
        line-height: call(get-function($function), 29px);
        color: #FFFFFF;
      }
      &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        li {
          height: call(get-function($function), 30px);
          background: #FFFFFF;
          border-radius: call(get-function($function), 8px);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: call(get-function($function), 20px);
          margin-top: call(get-function($function), 20px);
          a {
            font-size: call(get-function($function), 18px);
            line-height: call(get-function($function), 21px);
            color: #828282;
            text-decoration: none;
            padding: call(get-function($function), 5px) call(get-function($function), 11px);
          }
        }
      }
    }
  }
  .inner_content_wrap {
    padding-top: call(get-function($function), 60px);
  }

  @media screen and (max-width: 1440px) {
    .inner_content {
      width: 100%;
    }
  }
  @media screen and (max-width: 1200px) {
    
  }
  @media screen and (max-width: 1024px) {
    
  }
  @media screen and (max-width: 768px) {
    .inner_content_head__right__download span {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .inner_content_head__left_text h3 {
      color: #000;
    }
    .inner_content_head__left_text a {
      color: #ccc;
    }
    .inner_head {
      background-image: none!important;
      width: 100%;
      min-height: auto;
    }
    .inner_content {
      box-shadow: none;
      height: get-vw-600(250px);
      object-fit: contain;
    }
    .inner_content_footer {
      padding-bottom: 0px;
      align-items: flex-start;
    }
    .inner_content_footer__list li {
      background: #F2F2F2;
      border-radius: 8px;
    }
    .inner_gallery__title a {
      display: none;
    }
    .inner_content_footer__title {
      color: #000;
      font-size: 18px;
    }
    .inner_gallery__title h3 {
      font-size: 18px;
    }
    .inner_content_footer__list {
      justify-content: flex-start;
    }
    .inner_head {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 480px) {
    .inner_content_head__right__download {
      padding: get-vw-480(12px);
    }
    .inner_gallery__title a {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 360px) {
    
  }
}