@mixin Main($function) {
  .GridNav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding-right: call(get-function($function), 20px);
      margin-top: call(get-function($function), 75px);
      margin-bottom: call(get-function($function), 75px);
      a {
        text-decoration: none;
        .hover_row {
          display: none;
        }
        .hover_column {
          display: none;
        }
      }
      .hover_row_wrapper {
        &:hover {
          img {
            display: none;
          }
          .hover_row {
            display: block;
          }
        }
      }
      .hover_column_wrapper {
        &:hover {
          img {
            display: none;
          }
          .hover_column {
            display: block;
          }
        }
      }
    }
  }
  .Gallery_row {
    display: flex;
    width: 100%;
  }
  .Gallery {
    display: flex;
    flex-direction: column;
    &__items {
      margin-bottom: call(get-function($function), 25px);
      margin-right: call(get-function($function), 25px);
      cursor: pointer;
      position: relative;
      &__img {
        width: 100%;
        height: 100%;
        filter: drop-shadow(0px call(get-function($function), 4px) call(get-function($function), 14px) rgba(0, 0, 0, 0.14));
        border-radius: call(get-function($function), 8px);
        opacity: 1;
        transition: .55s opacity;
      }
      &__info {
        display: none;
      }
      
      &:hover {
        .Gallery__items__info {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          &__icons {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: call(get-function($function), 90px);
            &__maxmin {
              padding-left: call(get-function($function), 40px);
              padding-right: call(get-function($function), 40px);
              &:hover {
                img {
                  width: call(get-function($function), 60px);
                  height: call(get-function($function), 60px);
                  transition: .5s ease;
                }
              }
            }
            li {
              a {
                text-decoration: none;
                img {
                  width: call(get-function($function), 30px);
                  height: call(get-function($function), 30px);
                }
              }
            }
          }
          &__img {
            width: call(get-function($function), 70px);
            height: call(get-function($function), 70px);
            border: call(get-function($function), 1px) solid #FFFFFF;
            box-sizing: border-box;
            border-radius: call(get-function($function), 8px);
            margin-bottom: call(get-function($function), 20px);
          }
          h3 {
            font-size:  call(get-function($function), 30px);
            line-height:  call(get-function($function), 30px);
            color: #FFFFFF;
          }
          a {
            text-decoration: none;
            font-size: call(get-function($function), 20px);
            color: #FFFFFF;
          }
        }
        .Gallery__items__img {
          filter: blur(5px);
          opacity: 0.9;
        }
      }
    }
  }
  @media screen and (max-width: 1440px) {
   
  }
  @media screen and (max-width: 1200px) {
   
  }
  @media screen and (max-width: 1024px) {
    
  }
  @media screen and (max-width: 768px) {
    
  }
  @media screen and (max-width: 600px) {
    .Gallery_row {
      flex-direction: column;
    }
    .Gallery__items {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 480px) {
  
  }
  @media screen and (max-width: 360px) {
   
  }
}