<template>
  <ul class="GridNav">
    <li>
      <a href="#" class="hover_row_wrapper">
        <img src="@/assets/img/row.svg" alt="">
        <img class="hover_row" src="@/assets/img/row_hover.svg" alt="">
      </a>
    </li>
    <li>
      <a href="#" class="hover_column_wrapper">
        <img src="@/assets/img/column.svg" alt="">
        <img class="hover_column" src="@/assets/img/column_hover.svg" alt="">
      </a>
    </li>
  </ul>
</template>

<script>
export default {

}
</script>

<style>

</style>