<template>
  <div class="HeaderSearch container_wrapper">
    <input placeholder="Поиск" v-model="searchValue" @keyup.enter="searchPhotos()">
    <ul>
      <li><a href="javascript:void(0);">Wallpapers</a></li>
      <li><a href="javascript:void(0);">Textures & Patterns</a></li>
      <li><a href="javascript:void(0);">Nature</a></li>
      <li><a href="javascript:void(0);">Current Events</a></li>
      <li class="hidden_media"><a href="javascript:void(0);">Architecture</a></li>
      <li class="hidden_media"><a href="javascript:void(0);">Business & Drink</a></li>
      <li class="hidden_media"><a href="javascript:void(0);">Film</a></li>
      <li class="hidden_media"><a href="javascript:void(0);">Animals</a></li>
      <li class="hidden_media"><a href="javascript:void(0);">Travel</a></li>
      <li class="hidden_media"><a href="javascript:void(0);">Fashion</a></li>
      <li class="hidden_media"><a href="javascript:void(0);">Food & Drink</a></li>
      <li class="hidden_media"><a href="javascript:void(0);">Spirituality</a></li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchValue: ''
    }
  },
  methods: {
    searchPhotos() {
      this.$emit('searchPhotosEvent', this.searchValue)
    }
  }
}
</script>
