<template>
  <div id="app">
    <HeaderLayout />
    <router-view/>
  </div>
</template>

<script>
import HeaderLayout from './layouts/HeaderLayout'
export default {
  components: {
    HeaderLayout
  }
}
</script>

<style lang="scss">
body {
  font-family: 'SF UI Display';
}
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}
ul[class], ol[class] {
  padding: 0;
}
ul[class], ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
input, button, textarea, select {
  font: inherit;
  &:focus {
    outline: none;
  }
}

</style>
