<template>
<div>
  <header @scroll="handleScroll()">
    <div class="header_wrapper container_wrapper">
      <div class="logo_wrapper">
        <router-link to="/" class="logo">
          <img src="@/assets/img/logo.svg" alt="">
          <span>ImageStock</span>
        </router-link>
      </div>
      <div class="nav_wrapper">
        <div class="nav">
          <router-link to="/" v-if="searchIcon" href="javascript:void(0);" class="nav__search">
            <img src="@/assets/img/search.svg" alt="">
            <span>Поиск</span>
          </router-link>
          <router-link to="/FavoritePage">
            <img src="@/assets/img/favorite.svg" alt="">
            <span>Избранное</span>
          </router-link>
          <a href="javascript:void(0);" >
            <img src="@/assets/img/history.svg" alt="">
            <span>История поиска</span>
          </a>
        </div>
      </div>
    </div>
  </header>
</div>
  
</template>

<script>
export default {
  data() {
    return {
      searchIcon: false,
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll (event) {
      if (window.scrollY > 290) {
        this.searchIcon = true;
      } else if (window.scrollY < 290) {
        this.searchIcon = false;
      }
    }
  },
  mounted() {
  }
}
</script>